
.responsive{
width: 100%;
height: auto;
}
.justify{
text-align: justify;
}



footer{
background-color: #768391;
opacity: 0.9;
bottom: 0px;
height: 80px;
position: fixed;
width: 100%;
}
.arrows-block{
cursor: pointer;
color: #fff;
float: left;
margin-left: 50px;
margin-top: 20px;
}
.arrows{
margin-left: 60%;	
}
.counter{
color: #fff;
font-size: 20px;
}
.pages{
display: none;	
}

.block-video{
width: 100%;
background-color: #f7f8fa;
height: 80px;
margin-top: -16px;
}

.block-video p{
padding: 10px;
margin-left: 50px;
font-weight: bold;
cursor: pointer;
}

.iconblock{
margin: 20px;
position: absolute;
clear: both;
}

.question-container{
border: solid 1px #d3d3d3;
background-color: #fff;
height: 49%;
width: 77%;
z-index: 9999;
position: absolute;
opacity: 1;
padding: 10px;
display: none;
}

.feedbacks{
display: none;
}